<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @article.title %>
</p>

<p>
  <strong>Author:</strong>
  <%= @article.author %>
</p>

<p>
  <strong>Description:</strong>
  <%= @article.description %>
</p>
<%= link_to "Leave a comment", new_article_comment_path(@article) %> |
<%= link_to 'Edit', edit_article_path(@article) %> |
<%= link_to 'Back', articles_path %>
<br>
<h4>Comments:</h4>

<% @article.comments.each do |comment| %>
<ul>
  <li>
    <%= link_to comment.text, comment_path(comment) %>
  </li>
</ul>
<% end %>
